:root {
  --primary-color: #646cff;
  --secondary-color: #ffffff;
  --background-color: #f5f8fd;
  
  --text-color1: #919191;
  --text-color2: #505050;
  --text-color3: #ffc400;

  --extra-color1: #5FD058;
  --extra-color2: #72DFEE;
  
  --primary-gradient:linear-gradient(90deg, #A3A7ED 0%, #646CFF 100%);
}

* {
  font-family: "Inter", sans-serif;
}

.app {
  width: 96%;
  margin: 84px auto 0 auto;

  .container {
    // margin-top: 112px;
    // margin-left: 2%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--background-color);

    .widgets-row {
      width: 68%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}