:root {
  --primary-color: #646cff;
  --secondary-color: #ffffff;
  --background-color: #f5f8fd;
  --gradient-color:linear-gradient(90deg, #A3A7ED 0%, #646CFF 100%);

  --text-color1: #919191;
  --text-color2: #505050;
}

* {
  font-family: "Inter", sans-serif;
}

.App {
  margin-top: 120px;
  margin-left: 2%;
}