.calendar{

    float:right;
    position: fixed;
    top: 95px;
    left:70%;
    width: 425px;
    border-radius: 5px;
    border: 2px solid rgb(221, 203, 203);
    background-color:white;
    font-size:medium;
    
}