.topspace{
  padding-top: 60px;
}


.herosection {
  // position: absolute;
  background: var(--gradient-color);
  height: 200px;
  width: 1000px;
  left: 30px;
  top: 390px;
  // padding-top: 200px;
  border-radius: 23px;
  //   border: 2px solid black;
}

.herosection-content {
  display: flex;
}

// image of hero section start

.upimg {
  left: 30px;
  position: relative;
  top: -100px;
}
.herosection-content img {
  height: 300px;
  width: 250px;
}

// image of hero section end


// text of hero section start
.textarea {
    
    top: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-align: left;
    
  padding: 20px 0px 30px 20px;
  
}
.textarea h3{
    padding-top: 20px;

}
.textarea h1{
    padding-top: 5px;
    font-size: 40px;
}
.textarea p{
    font-size: 20px;
    padding-top: 5px;
}