@import "../../App.scss";

.heroSection {
  background: var(--primary-gradient);
  height: 220px;
  width: 68%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 15px 15px;

  @include tablet {
    height: 140px;
    width: 100%;
  }

  .heroSection-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    .left {
      position: relative;
      top: -23px;
      left: -20px;

      img {
        height: 270px;
      }

      @include tablet {
        top: -15px;
        left: 8px;

        img {
          height: 174px;
        }
      }
    }

    .right {
      color: var(--secondary-color);
      letter-spacing: 1px;
      text-align: left;
      margin-left: 20px;

      h3 {
        font-size: 15px;
      }

      h1 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 6px;
        text-transform: capitalize;
      }

      p {
        font-size: 15px;
      }

      @include tablet {
        margin-left: 10px;

        h3 {
          font-size: 13px;
        }

        h1 {
          font-size: 19px;
          line-height: 1.2;
        }

        p {
          font-size: 11px;
        }
      }
    }
  }

  &.small {
    height: 130px;
    display: flex;
    align-items: flex-start;

    @include tablet {
      height: 105px;
    }

    .heroSection-content {
      height: 100%;
      justify-content: flex-start;

      .right {
        display: flex;
        flex-direction: column-reverse;
        padding: 25px;
        margin-left: 0;
      }

      @include tablet {
        justify-content: flex-start;

        .right {
          padding-left: 15px;

          h1 {
            font-size: 20px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
