@import "../../App.scss";

.heroSection {
  background: var(--primary-gradient);
  height: 220px;
  width: 68%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.small{
    display: flex;
    flex-direction: column-reverse;
    height: 130px;
    margin-top: 120px;
    align-items: flex-start;
.right{
  display: flex;
  flex-direction: column-reverse;
  padding: 25px;

}
  }

  .heroSection-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
      position: relative;
      top: -23px;
      left: -20px;

      img {
        height: 270px;
      }
    }

    .right {
      top: 20px;
      color: var(--secondary-color);
      letter-spacing: 1px;
      text-align: left;
      margin-left: 20px;

      h3 {
        font-size: 15px;
      }

      h1 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}
