.class-comment {
  width: 65%;
  .comment {
    h3 {
      padding: 20px 0px 10px 0px;
      color: var(--text-color2);
    }
  }

  .inputSection {
    display: flex;
    border: 2px solid none;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    background: var(--secondary-color);
    justify-content: space-around;
    .inputSection-image {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    input {
      text-align: center;
      border: 1px solid var(--text-color1);
      border-radius: 35px;
      width: 80%;
    }
    button {
      border: none;
      color: none;
      background:none;
    }
  }
  .textContent {
    border: 2px solid none;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    background: var(--secondary-color);
    display: flex;
    .topSection {
      display: flex;
      p {
        color: var(--text-color2);
        font-size: 14px;
        padding-left: 20px;
      }
      h5 {
        color: var(--text-color1);
        text-align: center;
      }
    }
    .textContent-img {
      padding-left: 15px;
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    .text-message {
      padding: 10px;
    }
  }
}
