@import "../../App.scss";

.detailed-material {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: var(--secondary-color);
  border: 2px solid none;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #e0e0e0;

  @include tablet {
    width: 145%;
    display: block;
  }

  @include mobile {
    padding: 30px;
    width: 141%;
  }

  @include xs {
    padding: 25px;
  }

  .material-info {
    align-self: flex-start;

    .title {
      color: var(--text-color2);
    }

    @include mobile {
      .title {
        font-weight: 600;
        width: 100%;
        font-size: 23px;
      }
    }

    @include xs {
      font-size: 20px;
    }

    .name-and-time {
      color: var(--text-color2);
      margin-top: 8px;
      margin-bottom: 3px;
      display: flex;

      h5 {
        font-size: 15px;
        font-weight: 600;
      }

      .Postingtime {
        margin-left: 50px;
      }
      @include mobile {
        h5 {
          font-size: 13px;
        }
      }
    }

    .subject {
      font-size: 15px;
      font-weight: 600;
      color: var(--text-color1);
    }

    .filename {
      min-width: 300px;
      max-width: max-content;
      display: flex;
      align-items: center;
      margin-top: 30px;
      padding: 20px;
      border: 2px solid var(--primary-color);
      border-radius: 10px;

      .icon {
        font-size: 28px;
        color: var(--primary-color);
      }

      h3 {
        margin-left: 12px;
        font-size: 19px;
        font-weight: 600;
        color: var(--primary-color);
      }

      @include tablet {
        margin-top: 15px;
        min-width: 200px;
        padding: 10px;

        .icon {
          height: 20px;
        }
        h3 {
          font-size: 15px;
        }
      }

      @include mobile {
        margin-top: 12px;
        min-width: 180px;
        padding: 6px;

        .icon {
          height: 18px;
        }
        h3 {
          font-size: 12px;
        }
      }
    }
  }

  .your-work {
    width: 35%;
    background: var(--secondary-color);
    padding: 0 30px;
    border-radius: 14px;

    .workinfo {
      color: var(--text-color2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 15px;
        font-weight: 500;
      }
    }

    button {
      margin-top: 10px;
      width: 100%;
      border-radius: 50px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      height: 46px;
    }

    .add-btn {
      display: flex;
      justify-content: center;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 8px;
      align-items: center;
      background: var(--secondary-color);

      .icon {
        margin-right: 3px;
      }
    }

    .mark-btn {
      color: var(--secondary-color);
      padding: 12px;
      border: none;
      background: var(--primary-color);
    }

    @include tablet {
      margin-top: 20px;
      width: 100%;

      .workinfo {
        h3 {
          font-size: 20px;
        }
      }
    }

    @include mobile {
      padding: 0 5px;
    }
  }
}
